/*@font-face {
font-family: 'Brandon Grotesque Light';
font-style: normal;
font-weight: normal;
src: local('Brandon Grotesque Light'), url('../fonts/brandon-grotesque-light-58a8a4b38001d.woff') format('woff');
}

@font-face {
font-family: 'Brandon Grotesque Regular';
font-style: normal;
font-weight: normal;
src: local('Brandon Grotesque Regular'), url('../fonts/brandon_reg.woff') format('woff');
}

@font-face {
font-family: 'Brandon Grotesque Bold';
font-style: normal;
font-weight: normal;
src: local('Brandon Grotesque Bold'), url('../fonts/Brandon Grotesque-Bold.woff') format('woff');
}

@font-face {
font-family: 'Brandon Grotesque Black';
font-style: normal;
font-weight: normal;
src: local('Brandon Grotesque Black'), url('../fonts/brandon-grotesque-black-58a8a3e824392.woff') format('woff');
}

@font-face {
	font-family: 'Avenir Roman';
	font-style: normal;
	font-weight: normal;
	src: local('Avenir Roman'), url('../fonts/Avenir-Roman.woff') format('woff');
	}
*/
html {
  scroll-behavior: smooth;
}

body {
	padding: 0 auto;
	font-family: Brandon Grotesque Regular;
	font-size: 14px;
}


h1 {
	font-size: 58px;
	font-family: Brandon Grotesque Bold;
}

h2 {
	font-size: 26px;
	font-family: Brandon Grotesque Regular;
}

h3 {
	font-size: 21px;
	font-family: Brandon Grotesque Bold;
	margin-bottom: 3px;
}

h3.about {
	background: -webkit-linear-gradient(336deg, #800080, #065535);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	width: 300px;
	margin: auto;
}

h4 {
	font-size: 20px;
	font-family: Brandon Grotesque Regular;
}

img {
	width: 100%;
}

a:hover {
	text-decoration: none;
}

.static {
  position:absolute;
  background: white;
  width: 100%;
}

.static:hover {
  opacity:0;
  transition: 0.5;
}

img.logo {
		display: flex;
		width: 180px;
		margin: auto;
	}

header {
	text-align: center;
	padding: 80px 0 20px 0;
	font-family: Brandon Grotesque Regular;
}


header h3 {
	color: #38362D;
	font-size: 31px;
}



nav.index-nav {
	text-decoration: none;
	margin-bottom: 40px;
	width: calc(100% - 30px);
	max-width: 510px;
	top: 0;
	position: absolute;
}

nav.index-nav ul {
	list-style: none;
	text-align: center;
	width: 80vw;
	margin: 0 auto;
}

nav.index-nav ul li {
	width: 100%;
	border: none;
}

nav.index-nav ul li a {
	color: #9B9B9B;
	font-size: 16px;
}

nav.index-nav ul li a:hover {
	color: #065535;
	text-decoration: none;
	font-weight: 600;
}

nav.index-nav ul li a:active {
	color: #065535;
}

h2.logo {
	background: -webkit-linear-gradient(336deg, #065535, #065535);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro {
	text-align: center;
	    margin-bottom: 40px;
	    /* width: 300px; */
		background: linear-gradient(270deg, #34558b, #800080);
		-webkit-animation: Intro 10s ease infinite;
    	-moz-animation: Intro 10s ease infinite;
    	animation: Intro 10s ease infinite;
	    -webkit-background-clip: text;
	    -webkit-text-fill-color: #38362D;
	    font-family: Brandon Grotesque Regular;
}


@-webkit-keyframes Intro {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes Intro {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes Intro {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.intro h4 {
	font-family: Avenir Roman;
	line-height: 150%;
}



.container .row .homeimg {
	padding-bottom: 25px;
}


.pro-list {
	display: flex;
	width: 100%;
	color: #38362D;
}

.title-numb {
	justify-content: flex-start;
}
.title-dis {
	text-align: right;
	padding-top: 0;
	justify-content: flex-end;
	width: 100%;
	text-align: right;
	position: absolute;
	color: #38362D;
}


.dark {
	color: #333333;
}

.pink {
	color: #065535;
}

.pink:hover {
	color: #0b9c62;
}

.purple {
	color: #42145F;
}

.purple:hover {
	color: #8E24AA;
}

.yellow {
	color: #FBBA20;
}

.yellow:hover {
	color: #FFEB3B;
}

.blue {
	color: #01579B;
}

.blue:hover {
	color: #4F86F5;
}

.red {
	color: #B71C1C;
}

.red:hover {
	color: #E53935;
}

.green {
	color: #2E6F00;
}

.green:hover {
	color: #328800;
	transition: 0.5;
}

.brown {
	color: #38362D;
}

.row {
	margin-bottom: 30px;
	width: 100%
}

#portfolio {
	/*margin-bottom: 50px;*/
}
#about {
	margin-bottom: 50px;
}
#contact {
	margin-bottom: 50px;
}

#about h3 {
	margin-bottom: 30px;
}

.aboutme h4{
		text-align: left;
		color: #38362D;
	}

#about img {
	border-radius: 3%;
}

.aboutme {
	padding: 0 16px;
	margin-top: 1.5rem;
}

.picabout {
	margin-top: 3rem;
}

.btn-light {
	color: #065535;
    background-color: #e6eeea;
    border-color: #065535;
    width: 10em;
    height: 3em;
    margin-bottom: 30px;
}

/*#contact div div a {
	box-sizing: border-box;
}*/

#contact h3 {
	margin-bottom: 30px;
}

.contact-icons {
	justify-content: space-around;
	display: flex;
}

.contact-icons div {
	width: 10%;
	margin-bottom: .5em;
}

/*.contact-icons div a img {
	width: 100%;
	
}*/

.contact-icons div:hover {
	transition: 0.3;
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */    
   -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   -ms-filter: grayscale(100%);
   filter: grayscale(100%);
   filter: gray; /* IE 6-9 */
}

footer {
	padding: 30px;
	color: #333333;
	border-top: solid 0.1em #065535;
}

footer .socialmedia-container a img {
	width: 30px;
	margin: 0 10px 10px 0;
}

.socialmedia-container {
	align-items: center;
}

.showdown{
	display: flex;
	flex-direction: column;
}
.showdown2{
	display: inline;
}

.showup{
	display: none;
}

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}
.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}


@media (min-width: 576px) {
	
	body {
		font-size: 18px;
	}

	nav.index-nav ul li a {
		color: #666666;
		font-size: 20px;
	}
	nav.index-nav {
		margin-bottom: 50px;
		max-width: 510px;
	}



	.index-nav ul {
		width: 510px;
	}
	.intro {
		text-align: center;
	    margin: 0 auto;
	    margin-bottom: 100px;
	    width: 500px;
	}

	#about {
		margin-bottom: 100px;
	}
	.picabout {
		display: flex;
	}
	#contact {
		margin-bottom: 100px;
	}
	#about h2 {
		margin-bottom: 50px;
	}
	.aboutme {
		margin: auto;
	}
	/*#about img {
		width: 60%;
		margin-bottom: 30px;
	}*/
	.profile {
		margin:auto;
	}
	#contact h2 {
		margin-bottom: 50px;
	}
	.btn-light {
		color: #065535;
	    background-color: #e6eeea;
	    border-color: #065535;
	    width: 15em;
	    height: 3em;
	    margin-bottom: 50px;
	}
	

	/*.case1 .row .homeimg{
		background-image: url("img/01color.png");
	}

	.case1 .row .homeimg img:hover{
		opacity: 0;
		background-image: url("img/01color.png");
	}*/


}

@media (min-width: 768px) {
	h1 {
		font-size: 100px;
		font-family: Brandon Grotesque Bold;
	}

	h2 {
		font-size: 50px;
		font-family: Brandon Grotesque Regular;
	}

	h3 {
		font-size: 30px;
		font-family: Brandon Grotesque Bold;
		margin-bottom: 3px;
	}

	h4 {
		font-size: 24px;
		font-family: Brandon Grotesque Regular;
	}

	/*header {
		margin-top: 60px;
	}*/

	nav.index-nav {
		max-width: 690px;
	}

	nav.index-nav ul {
		width: 690px;
	}


	.pro-list {
		display: flex;
		width: 100%;
		flex-direction: column;
		text-align: right;
	}

	.title-numb {
		justify-content: flex-start;
	}
	.title-dis {
		text-align: right;
		padding-top: 0;
		justify-content: flex-end;
		width: 100%;
		text-align: right;
		position: inherit;
	}
	.title-left {
		padding-left: 0;
	}

	.title-right {
		padding-right: 0;
	}

	#portfolio {
		/*margin-bottom: 100px;*/
	}

	.showdown{
		display: none;
	}
	.showdown2{
		display: none;
	}

	.showup{
		display: flex;
	}
	#about img {
		width: 90%;
	}
}

@media (min-width: 992px) {

	h4 {
		font-size: 30px;
	}

	header h3 {
		padding-top: 100px;
		font-size: 48px;
	}
	
	
	img.logo {
		width: 250px;
	}

	nav.index-nav {
		text-decoration: none;
		margin-bottom: 40px;
		width: auto;
		position: relative;
	}

	img.logo {
		display: flex;
		width: 250px;
	}
	h2.logo {
		background: -webkit-linear-gradient(336deg, #800080, #065535);
	    -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
	    font-size: 36px;
	    padding: 5px 0 0 20px;
	}
	.header {
		display: flex;
		justify-content: space-between;
	}
	header {
		text-align: left;
		padding: 0;
		font-family: Brandon Grotesque Regular;
		display: flex;
		margin-top: 0px;
	}

	nav.index-nav {
		display: flex;
		padding: 100px 0 0 0;
		margin-bottom: 100px;
		width: 400px;
	}

	.list-group-horizontal {
		width: 100%;
		justify-content: flex-end;
		display: flex;
	}

	nav.index-nav ul li a {
		font-size: 20px;
	}

	.intro {
		width: 700px;
	}
}

@media (min-width: 1200px) {
	body {
		width: 1140px;
		margin: auto;
	}
	h1 {
		font-size: 150px;
		font-family: Brandon Grotesque Bold;
	}

	h2 {
		font-size: 70px;
		font-family: Brandon Grotesque Regular;
	}

	h3 {
		font-size: 50px;
		font-family: Brandon Grotesque Bold;
		margin-bottom: 3px;
	}

	h4 {
		font-size: 40px;
		font-family: Brandon Grotesque Regular;
		margin-bottom: 2em;
	}

	h5 {
		font-size: 30px;
		margin-bottom: 1em;
	}

	nav.index-nav {
		text-decoration: none;
		margin-bottom: 40px;
		width: auto;
		position: relative;
	}

	img.logo {
		display: flex;
		width: 250px;
	}
	h2.logo {
		background: -webkit-linear-gradient(336deg, #800080, #065535);
	    -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
	    font-size: 36px;
	    padding: 5px 0 0 20px;
	}
	.header {
		display: flex;
		justify-content: space-between;
	}
	header {
		text-align: left;
		padding: 0;
		font-family: Brandon Grotesque Regular;
		display: flex;
	}

	nav.index-nav {
		display: flex;
		padding: 100px 0 0 0;
		margin-bottom: 100px;
		width: 400px;
	}

	.list-group-horizontal {
		width: 100%;
		justify-content: flex-end;
		display: flex;
	}

	nav.index-nav ul li a {
		font-size: 20px;
	}
	.intro {
		width: 900px;
		margin-bottom: 150px;
	}
	.row {
		margin-bottom: 100px;
		width: 100%;
	}
	.contact-icons div {
		width: 60px;
	}
	.btn-light {
	    margin-bottom: 100px;
	}

	nav.index-nav ul li {
		width: auto;
	}

	.aboutme h4{
		text-align: left;
		color: #38362D;
	}

	#about h3 {
		margin-bottom: 50px;
	}
	.static {
	  position:absolute;
	  background: white;
	  width: 803px;
	}
	.picabout {
		display: flex;
	}
}